@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('../fonts/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
      url('../fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.woff2') format('woff2'),
      url('../fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Black.woff2') format('woff2'),
      url('../fonts/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff') format('woff2'),
      url('../fonts/Rubik-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: 'Poppins', sans-serif;
}

.social-icons{
  color: #cccccc;
  margin: 0 5px;
  font-size: 30px;
}

.social-icons:hover{
  color: #ffffff;
}
.social-icons__nav{
  color: #362A43;
  font-size: 21px;
  margin-right: 24px;
}

.social-icons__nav:hover{
  color: #B48FDB;
}
.nav-item.dropdown:hover .dropdown-menu{
  display: block;
  margin-top: 0;
}

.dropdown-item:hover{
  background-color: #B48FDB;
  color: white;
}
.text-language{
  color: #362A43;
}
.text-language:hover{
  color: #B48FDB
}
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:active {
    color: #B48FDB; /* Texto blanco */
}
.text-language__hover:hover{
  color: white;
}
.li-decoration{
  list-style-type: none;
}
.navbar-brand__bar{
  font-size: 1.5rem;
  color: #B48FDB;
}
.navbar-brand__logo{
  color: #362A43;
  font-size: 1.5rem;
}
.home-weare{
  font-family: 'Rubik', sans-serif;
  font-size: 4.5rem;
  color: #362A43;
}
@media (max-width: 390px){
  .home-weare{
    font-size: 2.8rem;
  }
}
.lead{
  font-size: 1rem;
}
.btn-primary__contact{
  position: relative;
}
.btn-primary__contact1{
  border: none;
  background-color: #B48FDB;
  padding-right: 34px;
}
.btn-primary__contact2{
  position: relative;
  right: 20px;
  background-color: #FFB3C9;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.063rem;
  font-family: 'Poppins';
}
.btn-primary__contact1:hover{
  background-color: #af81e0;
}
.btn-primary__contact2:hover{
  background-color: #fba7bf;
}
/* latest releases */
.latest-text{
  font-family: 'Rubik';
  font-weight: bold;
  font-size: 3rem;
  color: #362A43;
}
.latest-text__p{
  font-size: 1rem;
  color: #464646;
  font-weight: normal;
}
.aboutme{
  font-family: 'Rubik';
  font-size: 3rem;
  color: #362A43;
}
.aboutme-p{
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  color: #464646;
}
/* upcoming shows */
.upcomingtitle{
  font-family: 'Rubik';
  font-size: 1.75rem;
  color: #362A43;
  font-weight: normal;
}
.btn-info-t{
  background-color: #B48FDB;
}
.btn-info-t:hover{
  background-color: #9d71cc;
}
.btn-info-r{
  background-color: #84DCE3;
}
.btn-info-r:hover{
  background-color: #68c9d0;
}