<section class="bg-light" id="home">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename = 'img/web.jpg')}}" class="d-block mx-lg-auto img-fluid"
        height="500" loading="lazy" alt="web img">
      </div>
      <div class="col-lg-6">
        <h2 class="display-4">{{messages['weare']}} <span class="">SPACECODE</span></h2>
        <p class="lead fs-3">{{messages['message1']}}</p>
        <hr class="my-4">
        <p class="fs-5">{{messages['message2']}}</p>
        <a href="#contact" class="btn btn-primary btn-lg" role="button">{{messages['btn1']}}</a>
      </div>
    </div>
  </div>

</section>