{% extends 'base.html' %}
{% block title %} Bienvenido {% endblock %}
{% block content %}
<!-- incluir menu de navegación -->
 {% include 'nav.html' %}
 <!-- incluir menu de navegación -->
 {% include 'home.html' %}
 <!-- incluimos sección de proyectos -->
 {% include 'latestreleases.html' %}
 <!-- incluimos sección de proyectos -->
 {% include 'aboutme.html' %}
 <!-- incluimos sección de proyectos -->
 {% include 'upcomming.html' %}
 <!-- incluimos sección de proyectos -->
 {% include 'portfolioappmovil.html' %}
 <!-- incluimos sección de proyectos -->
 {% include 'portfolioiot.html' %}
 <!-- incluimos contacto -->
 {% include 'contact.html' %}
 <!-- incluimos footer -->
 {% include 'footer.html' %}

{% endblock %}