<section class="container pt-0 px-2" id="portfolioweb">
  <h2 class="left-center latest-text">{{messages['message3']}}</h2>
  <p class="latest-text__p col-md-6">{{messages['latest_message']}}</p>
  <div id="cardSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#cardSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#cardSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4 ">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/vintage.png')}}" width="300" height="250" class="card-img-top" alt="Card 1">
              <div class="card-body ">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/party.png')}}" width="300" height="250" class="card-img-top" alt="Card 2">
              <div class="card-body">
                <h5 class="card-title">Card 2</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/alone.png')}}" width="300" height="250" class="card-img-top" alt="Card 3">
              <div class="card-body">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/alone.png')}}" width="300" height="250" class="card-img-top" alt="Card 4">
              <div class="card-body">
                <h5 class="card-title">Card 4</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/alone.png')}}" width="300" height="250" class="card-img-top" alt="Card 5">
              <div class="card-body">
                <h5 class="card-title">Card 5</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light p-2">
              <img src="{{url_for('static', filename = 'img/carousel/alone.png')}}" width="300" height="250"" class="card-img-top" alt="Card 6">
              <div class="card-body">
                <h5 class="card-title">Card 6</h5>
                <p class="card-text">Some quick example text to build on the card title.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#cardSlider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cardSlider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
