<section class="container  pt-md-0 px-md-2" id="portfolioweb">
  <div class="row justify-content-center">
    <div class="col-12  col-md-5">
      <h2 class="text-center latest-videos-text">{{messages['latestvideos']}}</h2>
      <p class="latest-text__p text-center ">{{messages['latest_message1']}}</p>
    </div>
  </div>
  <!-- latest videos -->
  <div class=" container">
   <!-- latest videos left side -->
    <div class="rounded mb-3 d-flex ">
     <div class="col-md-12 col-lg-8">
        <div class="p-md-3  rounded mb-3">
          <div class="card d-lg-block col-12 col-md-12 rounded border-0 " >
            <img class="card-img-top" src="{{url_for('static', filename = 'img/latestvideos/lv4.png')}}" alt="Card image latest videos">
          </div>
          <div class=" col-12   col-md-12 p-3">
            <h2 class="upcomingtitle">{{messages['lvideos_message1']}}</h2>
            <div class="d-md-flex justify-content-md-left ">
              <div class="">
                <p class="my-0"><span class=" lh-1 "><i class="fa-regular fa-clock me-2"></i>3:32</span> <span class="ms-3 me-3">|</span><i class="fa-regular fa-eye me-1"></i>  10 M </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-4 mt-3">
       
         <!-- start latest videos right side -->
         <div class="d-flex my-3">
          <div class="card d-none d-lg-block col-12 col-md-4 rounded border-0" >
            <img class="card-img-top" width="136" height="136" src="{{url_for('static', filename = 'img/latestvideos/lv2.png')}}" alt="Card image latest videos">
          </div>
          <div class=" col-12 d-none d-lg-block   col-md-8 p-3">
            <h2 class="upcomingtitle">{{messages['lvideos_message1']}}</h2>
            <div class="d-md-flex justify-content-md-left ">
              <div class="">
                <p class="my-0"><span class=" lh-1 "><i class="fa-regular fa-clock me-2"></i>3:32</span> <span class="ms-3 me-3">|</span><i class="fa-regular fa-eye me-1"></i>  10 M </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end latest videos right side -->
          <!-- start latest videos right side -->
        <div class="d-flex m3-3">
          <div class="card d-none d-lg-block col-12 col-md-4 rounded border-0" >
            <img class="card-img-top" width="136" height="136" src="{{url_for('static', filename = 'img/latestvideos/lv3.png')}}" alt="Card image latest videos">
          </div>
          <div class=" col-12 d-none d-lg-block  col-md-8 p-3">
            <h2 class="upcomingtitle">{{messages['lvideos_message1']}}</h2>
            <div class="d-md-flex justify-content-md-left ">
              <div class="">
                <p class="my-0"><span class=" lh-1 "><i class="fa-regular fa-clock me-2"></i>3:32</span> <span class="ms-3 me-3">|</span><i class="fa-regular fa-eye me-1"></i>  10 M </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end latest videos right side -->
          <!-- start latest videos right side -->
        <div class="d-flex my-3">
          <div class="card d-none d-lg-block col-12 col-md-4 rounded border-0" >
            <img class="card-img-top" width="136" height="136" src="{{url_for('static', filename = 'img/latestvideos/lv1.png')}}" alt="Card image latest videos">
          </div>
          <div class=" col-12 d-none d-lg-block  col-md-8 p-3">
            <h2 class="upcomingtitle">{{messages['lvideos_message1']}}</h2>
            <div class="d-md-flex justify-content-md-left ">
              <div class="">
                <p class="my-0"><span class=" lh-1 "><i class="fa-regular fa-clock me-2"></i>3:32</span> <span class="ms-3 me-3">|</span><i class="fa-regular fa-eye me-1"></i>  10 M </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end latest videos right side -->
      </div>
    </div>
   </div>
</section>
