<nav class="navbar navbar-expand-lg navbar-light bg-white  fixed-top">
  <div class="container-fluid">
    <div class="d-flex navbar-brand">
      <a href="https://spacecode.com.co/" class="text-decoration-none text-reset">
        <h1 class="fs-4 fw-bold navbar-brand__logo">
          ISINGER<span class="navbar-brand__bar fw-bold">./</span>
        </h1>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="nav navbar-nav ">
        <li class="nav-item "><a class="nav-link text-language" href="#home">{{messages['home']}}</a></li>        </li>
        <li class="nav-item"><a class="nav-link text-language" href="#about">{{messages['about']}}</a></li>
        <li class="nav-item"><a class="nav-link text-language" href="#music">{{messages['music']}}</a></li>
        <li class="nav-item"><a class="nav-link text-language" href="#project">{{messages['project']}}</a></li>
        <li class="nav-item"><a class="nav-link text-language" href="#album">{{messages['album']}}</a></li>
        <li class="nav-item"><a class="nav-link text-language" href="#contact">{{messages['contacts']}}</a></li>
        <li class="nav-item dropdown li-decoration text-language">
          <a class="nav-link dropdown-toggle text-language " href="#portfolio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{messages['language']}}
          </a>
          <ul class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-language text-language__hover" href="/es">{{messages['spanish']}}</a></li>
            <li><a class="dropdown-item text-language text-language__hover" href="/en">{{messages['english']}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end d-none d-md-block">
      <a class="social-icons social-icons__nav" href="https://www.facebook.com/SpaceCodeCol" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="social-icons social-icons__nav" href="https://www.youtube.com/channel/UCuMqhrLKHlHkDmX9_KZGxVQ" target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      <a class="social-icons social-icons__nav" href="https://www.instagram.com/spacecodecol" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="social-icons social-icons__nav" href="https://x.com/SpacecodeCol" target="_blank"><i class="fa-brands fa-x"></i></a>
      <a class="social-icons social-icons__nav" href="https://www.tiktok.com/@spacecode07" target="_blank"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
    </div>
  </div>
</nav>