<section class="container  pt-md-0 px-md-2" id="portfolioweb">
  <div class="row justify-content-center">
    <div class="col-12  col-md-6">
      <h2 class="text-center upcoming-text">{{messages['upcomingtitle']}}</h2>
      <p class="latest-text__p text-center ">{{messages['latest_message1']}}</p>
    </div>
  </div>
  <!-- upcoming show -->
  <div class="bg-light container  p-md-3 m-md-3 rounded d-md-flex mb-3">
    <div class="card col-12 col-md-2 rounded border-0 me-md-5" >
    <img class="card-img-top" weight="136" height="136" src="{{url_for('static', filename = 'img/carousel/alone.png')}}" alt="Card image cap">
    </div>
    <div class=" col-12  col-md-6 p-3">
      <h2 class="upcomingtitle">{{messages['upcomingmessage1']}}</h2>
      <div class="d-md-flex justify-content-md-left ">
        <div class="">
          <p class="my-0"><span class=" lh-1 me-md-5 fw-semibold">{{messages['date']}}</span> : 27 Jun 2012 </p>
          <p class="my-0"><span class=" lh-1 me-md-3 fw-semibold">{{messages['location']}}</span>   : California, USA</p>
        </div>
        <div class="">
          <p class="my-0"><span class=" lh-1 m-md-5 fw-semibold">{{messages['time']}}</span><span class="ms-2">: 6:00 PM</span> </p>
          <p class="my-0"><span class=" m-md-5 fw-semibold ">{{messages['ticket']}}</span>: 560 USD </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center text-md-end">
        <p class="pt-3 m-0 me-md-5 fw-medium"><i class="fa-solid fa-ticket-alt me-1"></i>Ticket: 27 Left</p>
      <div class=" d-flex justify-content-center justify-content-md-end mt-4 px-md-5">
        <button class="btn btn-info btn-info-t me-2 border-0  text-white">TICKETS</button>
        <button class="btn btn-info-r border-0 text-white">RSVP</button>
      </div>
    </div>
  </div>
  <!-- upcoming show -->
  <div class="bg-light container  p-md-3 m-md-3 rounded d-md-flex mb-3">
    <div class="card col-12 col-md-2 rounded border-0 me-md-5" >
    <img class="card-img-top" weight="136" height="136" src="{{url_for('static', filename = 'img/carousel/party.png')}}" alt="Card image cap">
    </div>
    <div class=" col-12  col-md-6 p-3">
      <h2 class="upcomingtitle">{{messages['upcomingmessage1']}}</h2>
      <div class="d-md-flex justify-content-md-left ">
        <div class="">
          <p class="my-0"><span class=" lh-1 me-md-5 fw-semibold">{{messages['date']}}</span> : 27 Jun 2012 </p>
          <p class="my-0"><span class=" lh-1 me-md-3 fw-semibold">{{messages['location']}}</span>   : California, USA</p>
        </div>
        <div class="">
          <p class="my-0"><span class=" lh-1 m-md-5 fw-semibold">{{messages['time']}}</span><span class="ms-2">: 6:00 PM</span> </p>
          <p class="my-0"><span class=" m-md-5 fw-semibold ">{{messages['ticket']}}</span>: 560 USD </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center text-md-end">
        <p class="pt-3 m-0 me-md-5 fw-medium"><i class="fa-solid fa-ticket-alt me-1"></i>Ticket: 27 Left</p>
      <div class=" d-flex justify-content-center justify-content-md-end mt-4 px-md-5">
        <button class="btn btn-info btn-info-t me-2 border-0  text-white">TICKETS</button>
        <button class="btn btn-info-r border-0 text-white">RSVP</button>
      </div>
    </div>
  </div>
  <!-- upcoming show -->
  <div class="bg-light container  p-md-3 m-md-3 rounded d-md-flex mb-3">
    <div class="card col-12 col-md-2 rounded border-0 me-md-5" >
    <img class="card-img-top" weight="136" height="136" src="{{url_for('static', filename = 'img/upcoming/generation.png')}}" alt="Card image cap">
    </div>
    <div class=" col-12  col-md-6 p-3">
      <h2 class="upcomingtitle">{{messages['upcomingmessage1']}}</h2>
      <div class="d-md-flex justify-content-md-left ">
        <div class="">
          <p class="my-0"><span class=" lh-1 me-md-5 fw-semibold">{{messages['date']}}</span> : 27 Jun 2012 </p>
          <p class="my-0"><span class=" lh-1 me-md-3 fw-semibold">{{messages['location']}}</span>   : California, USA</p>
        </div>
        <div class="">
          <p class="my-0"><span class=" lh-1 m-md-5 fw-semibold">{{messages['time']}}</span><span class="ms-2">: 6:00 PM</span> </p>
          <p class="my-0"><span class=" m-md-5 fw-semibold ">{{messages['ticket']}}</span>: 560 USD </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center text-md-end">
        <p class="pt-3 m-0 me-md-5 fw-medium"><i class="fa-solid fa-ticket-alt me-1"></i>Ticket: 27 Left</p>
      <div class=" d-flex justify-content-center justify-content-md-end mt-4 px-md-5">
        <button class="btn btn-info btn-info-t me-2 border-0  text-white">TICKETS</button>
        <button class="btn btn-info-r border-0 text-white">RSVP</button>
      </div>
    </div>
  </div>
</section>
